openapi: 3.0.3
info:
  title: CTF Rush API
  description: API for the CTF Rush game, a technology-enhanced version of the traditional outdoor game "Capture the Flag".
  version: 1.1.0
servers:
  - url: https://api.ctf-rush.de
    description: Production server
  - url: http://localhost:3000
    description: Development server
paths:
  /players:
    get:
      summary: Get a list of all players
      responses:
        '200':
          description: A list of players
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
    post:
      summary: Create a new player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Player'
      responses:
        '201':
          description: Player created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
  /players/{playerId}:
    get:
      summary: Get details of a specific player
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        '404':
          description: Player not found
    put:
      summary: Update a player's details
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Player'
      responses:
        '200':
          description: Player updated successfully
        '404':
          description: Player not found
    delete:
      summary: Delete a player
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Player deleted successfully
        '404':
          description: Player not found
  /players/{playerId}/state:
    get:
      summary: Get the current state of a player
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Player state details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerState'
components:
  schemas:
    Player:
      type: object
      properties:
        id:
          type: string
            minLength:36
            maxLength:36
          format: uuid
          example: "936DA01F-9ABD-4D9D-80C7-02AF85C822A8"
        username:
          type: string
            minLength:3
            maxLength:80
          example: "Player 4711"  
        birthdate:
          type: string
          format: date
          example: 07.03.2013
        avatar:
          type: string
          format: binary   
        score:
          type: integer
          example: 1250
    PlayerState:
      type: object
      properties:
        id:
          type: integer
        location:
          $ref: '#/components/schemas/GeoLocation'
        isCaptured:
          type: boolean
        timestamp:
          type: string
          format: date-time
    GeoLocation:
      type: object
      description: A geographic location provided by a smartphone sensor API.
      properties:
        latitude:
          type: number
          format: double
          description: Latitude of the location.
        longitude:
          type: number
          format: double
          description: Longitude of the location.
        altitude:
          type: number
          format: double
          description: Altitude of the location in meters.
        accuracy:
          type: number
          format: double
          description: Accuracy of the location in meters.